---
import PostCard from '@components/PostCard.astro';
import MainLayout from '@layouts/MainLayout.astro';

const res = await fetch('https://dummyjson.com/posts');
const data = await res.json();
const { posts } = data;
---

<MainLayout title="Posts">
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</MainLayout>

<style>
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 50px;
  }
</style>