<div id="theme-switcher" class="theme-switcher">
  <svg
    class="light"
		xmlns="http://www.w3.org/2000/svg"
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="currentColor"
	>
		<path
			fill-rule="evenodd"
			d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
			clip-rule="evenodd"
		/>
  </svg>
  <svg
    class="dark"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
		<path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
	</svg>
</div>

<script>
  const DARK_THEME_CLASS = 'dark-theme';
  const THEME_KEY = 'theme';

  document.addEventListener('DOMContentLoaded', () => {
    const root = document.documentElement;

    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem(THEME_KEY)) {
        return localStorage.getItem(THEME_KEY);
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
        return 'light';
    })();

    if (theme === 'light') {
      root.classList.remove(DARK_THEME_CLASS);
    } else {
      root.classList.add(DARK_THEME_CLASS);
    }

    window.localStorage.setItem(THEME_KEY, theme);

    const handleToggleClick = () => {
      root.classList.toggle(DARK_THEME_CLASS);
      
      const isDark = root.classList.contains(DARK_THEME_CLASS);
      localStorage.setItem(THEME_KEY, isDark ? DARK_THEME_CLASS : 'light');
    }

    const themeSwitcher = document.getElementById('theme-switcher');

    themeSwitcher.addEventListener('click', handleToggleClick);
  });
</script>

<style>
  .theme-switcher {
    user-select: none;
    cursor: pointer;
  }

  .light {
    fill: var(--theme-color-orange);
  }

  :global(.dark-theme) .light {
    fill: var(--theme-text);
  }

  :global(.dark-theme) .dark {
    fill: var(--theme-color-orange);
  }
</style>